.footer {
  padding: 3rem 0;
  background-color: #2e2e2e;
  color: rgba($white, .5);
  font-size: 1.2rem;
  letter-spacing: 0.3px;

  &__inner {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
  }

  &__copyright {
    max-width: 18rem;

    @include mobile-large {
      max-width: 100%;
      text-align: center;
      margin: 0 auto;
    }
  }
}