@font-face {
  font-family: "aller-italic";
  src: url("../fonts/aller-italic/f8ad016722fe04c29eb0ad3a12fcdfc7.eot"); /* IE9*/
  src: url("../fonts/aller-italic/f8ad016722fe04c29eb0ad3a12fcdfc7.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
  url("../fonts/aller-italic/f8ad016722fe04c29eb0ad3a12fcdfc7.woff2") format("woff2"), /* chrome、firefox */
  url("../fonts/aller-italic/f8ad016722fe04c29eb0ad3a12fcdfc7.woff") format("woff"), /* chrome、firefox */
  url("../fonts/aller-italic/f8ad016722fe04c29eb0ad3a12fcdfc7.ttf") format("truetype"), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
  url("../fonts/aller-italic/f8ad016722fe04c29eb0ad3a12fcdfc7.svg#Aller Italic V1") format("svg"); /* iOS 4.1- */
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: "aller-bold";
  src: url("../fonts/aller-bold/ec478fc73747085c0b7028c642d992b1.eot"); /* IE9*/
  src: url("../fonts/aller-bold/ec478fc73747085c0b7028c642d992b1.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
  url("../fonts/aller-bold/ec478fc73747085c0b7028c642d992b1.woff2") format("woff2"), /* chrome、firefox */
  url("../fonts/aller-bold/ec478fc73747085c0b7028c642d992b1.woff") format("woff"), /* chrome、firefox */
  url("../fonts/aller-bold/ec478fc73747085c0b7028c642d992b1.ttf") format("truetype"), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
  url("../fonts/aller-bold/ec478fc73747085c0b7028c642d992b1.svg#Aller Bold V1") format("svg"); /* iOS 4.1- */
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "aller-light";
  src: url("../fonts/aller-light/68a0f3574421aee857650a75b9d69a65.eot"); /* IE9*/
  src: url("../fonts/aller-light/68a0f3574421aee857650a75b9d69a65.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
  url("../fonts/aller-light/68a0f3574421aee857650a75b9d69a65.woff2") format("woff2"), /* chrome、firefox */
  url("../fonts/aller-light/68a0f3574421aee857650a75b9d69a65.woff") format("woff"), /* chrome、firefox */
  url("../fonts/aller-light/68a0f3574421aee857650a75b9d69a65.ttf") format("truetype"), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
  url("../fonts/aller-light/68a0f3574421aee857650a75b9d69a65.svg#Aller W04 Light") format("svg"); /* iOS 4.1- */
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "aller-regular";
  src: url("../fonts/aller-regular/785388a9e6416c286ec82ff966c696fd.eot"); /* IE9*/
  src: url("../fonts/aller-regular/785388a9e6416c286ec82ff966c696fd.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
  url("../fonts/aller-regular/785388a9e6416c286ec82ff966c696fd.woff2") format("woff2"), /* chrome、firefox */
  url("../fonts/aller-regular/785388a9e6416c286ec82ff966c696fd.woff") format("woff"), /* chrome、firefox */
  url("../fonts/aller-regular/785388a9e6416c286ec82ff966c696fd.ttf") format("truetype"), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
  url("../fonts/aller-regular/785388a9e6416c286ec82ff966c696fd.svg#Aller V1") format("svg"); /* iOS 4.1- */
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "stheiti";
  src: url("../fonts/stheiti/2b6a9d4149b1a150c1ff294f1c8f8e21.eot"); /* IE9*/
  src: url("../fonts/stheiti/2b6a9d4149b1a150c1ff294f1c8f8e21.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
  url("../fonts/stheiti/2b6a9d4149b1a150c1ff294f1c8f8e21.woff2") format("woff2"), /* chrome、firefox */
  url("../fonts/stheiti/2b6a9d4149b1a150c1ff294f1c8f8e21.woff") format("woff"), /* chrome、firefox */
  url("../fonts/stheiti/2b6a9d4149b1a150c1ff294f1c8f8e21.ttf") format("truetype"), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
  url("../fonts/stheiti/2b6a9d4149b1a150c1ff294f1c8f8e21.svg#STHeiti K Medium") format("svg"); /* iOS 4.1- */
  font-weight: 500;
  font-style: normal;
}
