//breakpoints
$widescreen: 1440px;
$laptop: 1200px;
$tablet: 992px;
$mobile-large: 768px;
$mobile: 576px;

//colors
$aqua: #57c5a0;
$aqua-light: #73ddb9;
$black: #242424;
$orange: #f27e4b;
$white: #ffffff;
$bg-lightgray: #ebe7df;



  //fonts
$base-fonts: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", "Noto Sans", "Liberation Sans", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
$aller-italic: "aller-italic", system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", sans-serif;
$aller-bold: "aller-bold", system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", sans-serif;
$aller-light: "aller-light", system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", sans-serif;
$aller-regular: "aller-regular", system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", sans-serif;