.header {
  $root: &;

  &__top {
    position: relative;
    height: 4.5rem;
    background-color: $black;

    @include tablet {
      padding-left: 3rem;
    }
  }

  &__top-inner {
    display: flex;
    justify-content: space-between;

    @include mobile {
      justify-content: flex-end;
    }
  }

  &__buttons {
    align-self: stretch;

    @include mobile {
      display: none;
    }

    &--mobile {
      display: block;
      #{$root} {
        &__button {
          font-size: 1.6rem;
          &:last-child {
            box-shadow: none;
            padding-left: 0;
          }
        }
      }
    }
  }

  &__button {
    height: 100%;
    background-color: transparent;
    text-align: center;
    font-size: 1.1rem;
    fill: #7e7e7e;
    color: #7e7e7e;
    vertical-align: middle;
    padding: 1.4rem 2rem;

    @include mobile {
      padding: 1.4rem;
    }

    &:last-child {
      box-shadow: 1px 0 0 rgba(255, 255, 255, 0.35), inset 1px 0 0 rgba(255, 255, 255, 0.35);
    }

    * {
      transition: color .2s linear, fill .1s linear;
    }

    &:hover {
      * {
        color: $white;
        fill: $white;
      }
    }
  }

  &__button-upper {
    text-transform: uppercase;
  }
  
  &__menu {
    background-color: $white;
    height: 6rem;

    @include tablet {
      display: none;
    }
  }

  &__menu-inner {
    display: flex;
    justify-content: space-between;
  }

  &__actions {
    display: flex;
    margin-left: auto;

    &--mobile {
      width: 100%;
      #{$root} {
        &__actions-item {
          box-shadow: none;
          padding-left: 0;

          &:last-child {
            box-shadow: none;
          }
        }
      }
    }
  }

  &__actions-item {
    display: flex;
    align-items: center;
    padding: 2rem 2.1rem;
    font-family: $aller-bold;
    line-height: 1.6rem;
    box-shadow: inset 1px 0 0 #eeeeee;
    transition: color .2s linear;

    &:hover {
      #{$root} {
        &__actions-item-value {
          background-color: $aqua;
        }
      }
    }

    &:last-child {
      box-shadow: 1px 0 0 #eeeeee, inset 1px 0 0 #eeeeee;
    }

    &::before {
      content: "";
      display: inline-block;
      width: 1.6rem;
      height: 1.6rem;
      margin-right: .6rem;
    }

    &--cart {
      &::before {
        background: url("../images/cart-icon.svg") no-repeat center / contain;
      }
    }

    &--favourite {
      &::before {
        background: url("../images/start-icon.svg") no-repeat center / contain;
      }
    }
  }

  &__actions-item-value {
    display: block;
    font-size: 1rem;
    line-height: 2rem;
    color: $white;
    text-align: center;
    background-color: #adadad;
    width: 2rem;
    height: 2rem;
    border-radius: 4px;
    transition:  background-color .2s linear;
  }
}