.breadcrumbs {
  display: flex;
  flex-wrap: wrap;
  max-width: calc(100% - 18rem);
  padding-left: 2rem;

  @include mobile-large {
    margin: 2rem auto 0 auto;
    padding-left: 0;
    max-width: 100%;
  }

  &__item {
    @extend .text-overflow;

    &:last-child::after {
      content: none;
    }

    &::after {
      content: '/';
      color: inherit;
      margin: 0 .4rem;
    }
  }

  &__link {
    transition: color .2s linear;

    &:hover {
      color: rgba($white, .7);
    }
  }
}