<footer class="footer">
    <div class="container">
        <div class="footer__inner">
            <div class="footer__copyright">
                <p class="footer__copyright-item"> Copyright © Fooseshoes 2013.</p>
                <p class="footer__copyright-item"> Designed by EnzoLiVolti. </p>
            </div>
            <ul class="breadcrumbs">
                <li class="breadcrumbs__item"><a class="breadcrumbs__link" href="#">Home</a></li>
                <li class="breadcrumbs__item"><a class="breadcrumbs__link" href="#">Support</a></li>
                <li class="breadcrumbs__item"><a class="breadcrumbs__link" href="#">Terms and Conditions</a></li>
                <li class="breadcrumbs__item"><a class="breadcrumbs__link" href="#">Faqs</a></li>
                <li class="breadcrumbs__item"><a class="breadcrumbs__link" href="#">Contact us</a></li>
            </ul>
        </div>
    </div>
</footer>
