<aside class="sidebar" id="sidebar">
    <nav class="nav nav--mobile" id="headerNavSidebar">
        <a class="nav__item active" href="#header">Home</a>
        <a class="nav__item" href="#products">Products</a>
        <a class="nav__item" href="#about">About</a>
        <a class="nav__item" href="#pages">Pages</a>
        <a class="nav__item" href="#blog">Blog</a>
        <a class="nav__item" href="#contact">Contact</a>
    </nav>
    <!--/nav-->
    <div class="header__actions header__actions--mobile">
        <button class="header__actions-item header__actions-item--favourite">
            <span class="header__actions-item-value">30</span>
        </button>
        <button class="header__actions-item header__actions-item--cart">
            <span class="header__actions-item-value">0</span>
        </button>
    </div>

    <div class="header__buttons header__buttons--mobile">
        <button class="header__button">
            <span class="header__button-upper">Login</span>
            <span>or</span>
            <span class="header__button-upper">register</span>
        </button>
    </div>
</aside>