<!DOCTYPE html>
<html lang="uk">
<head>
    {{> head }}
</head>
<body class="">
        <!-- Header -->
        <header class="header" id="header">
            {{> header }}
        </header>
        {{> sidebar }}

        <!-- Main -->
        <main class="main">
            {{> body }}
        </main>

        <!-- Footer -->
        {{> footer }}

        <div class="page-mask" id="pageMask"></div>


        <script src="assets/plugins/jquery.js"></script>
        <script src="assets/plugins/jquery-ui.min.js"></script>
        <script src="assets/plugins/init.js"></script>
        <script src="assets/js/app.js"></script>
</body>
</html>
